{
  "swagger" : "2.0",
  "info" : {
    "description" : "Documentación del api v2.0 de lavanapp",
    "version" : "2.0.0",
    "title" : "API LAVANAPP",
    "contact" : {
      "email" : "hola@lavanapp.com"
    }
  },
  "host" : "api.lavanapp.com",
  "basePath" : "/api/v2",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/configuration" : {
      "get" : {
        "tags" : [ "configuration" ],
        "summary" : "Return the configuration detail of server",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token/access_token o ningún token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "platform",
          "in" : "query",
          "description" : "Plataforma desde la que se hace la solicitud",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Versión de la plataforma",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "force_update", "min_order_amount", "currency", "token", "payment_methods" ],
              "properties" : {
                "force_update" : {
                  "type" : "boolean"
                },
                "min_order_amount" : {
                  "type" : "string"
                },
                "currency" : {
                  "type" : "string"
                },
                "token" : {
                  "type" : "string"
                },
                "payment_methods" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "required" : [ "id", "name", "path_url", "img_name" ],
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "path_url" : {
                        "type" : "string"
                      },
                      "img_name" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              },
              "example" : {
                "force_update" : true,
                "min_order_amount" : "15",
                "currency" : "€",
                "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwYzUxMTQyYjVjNDhlZWZiODM1OWRmMmU4ZDM2YmQzNTczMmI3MGIwIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoxNDc4MTc2NDMwLCJ0eXBlIjoidW5hdXRoIiwiZXhwIjoxOTk2NTcyODMwLCJleHBfc2Vzc2lvbiI6MTQ5NTQ1MjgzMH0.2oW9bdtULTIGZFWJ86qG-OxVlRiN-zAQ8UsI8m2Imhg",
                "payment_methods" : {
                  "id" : 0,
                  "name" : "Braintree",
                  "path_url" : "https://testing.lavanapp.com/img/android/",
                  "img_name" : "credit-card.png"
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080101" : {
                  "error_code" : "080101",
                  "error_msg" : "PLATFORM_NOT_FOUND",
                  "error_desc" : "Platform not found"
                },
                "080103" : {
                  "error_code" : "080103",
                  "error_msg" : "INCORRECT_VERSION",
                  "error_desc" : "Incorrect version"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Create user",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "ota", "id" ],
              "properties" : {
                "ota" : {
                  "type" : "integer"
                },
                "id" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "ota" : 12345,
              "id" : "2217"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010110" : {
                  "error_code" : "010110",
                  "error_msg" : "INVALID_REGISTRATION_TYPE",
                  "error_desc" : "Tipo de registro inválido"
                },
                "010113" : {
                  "error_code" : "010113",
                  "error_msg" : "INCORRECT_DATA",
                  "error_desc" : "Incorrect data"
                },
                "010107" : {
                  "error_code" : "010107",
                  "error_msg" : "OTP_COULD_NOT_BE_SEND",
                  "error_desc" : "OTP no se pudo enviar"
                },
                "010102" : {
                  "error_code" : "010102",
                  "error_msg" : "TEL_EXISTS",
                  "error_desc" : "Telephone exists"
                },
                "010106" : {
                  "error_code" : "010106",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "010101" : {
                  "error_code" : "010101",
                  "error_msg" : "EMAIL_EXISTS",
                  "error_desc" : "Email exists"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/login" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Login user",
        "parameters" : [ {
          "name" : "Basic",
          "in" : "header",
          "description" : "encode base_64 (email:password(MD5)). Required by login with email",
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "LoginUser Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LoginUserBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "id", "name", "email", "phone_no", "want_news", "token" ],
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "email" : {
                  "type" : "string"
                },
                "phone_no" : {
                  "type" : "string"
                },
                "want_news" : {
                  "type" : "string"
                },
                "token" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "id" : "2217",
              "name" : "Juan",
              "email" : "testing_android@lavanapp.com",
              "phone_no" : "536363636",
              "want_news" : "true",
              "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2ODMzOTQ4LCJleHBfc2Vzc2lvbiI6MTQ4MTgyMjc0OH0.OBrpLk8o9hBCUBq7eht8QzFKY8djVoPi57cSkW45fZY"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                },
                "010201" : {
                  "error_code" : "010201",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                },
                "010203" : {
                  "error_code" : "010203",
                  "error_msg" : "CONSUMER_HAS_BEEN_BLOCKED",
                  "error_desc" : "Consumer has been blocked"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                },
                "010204" : {
                  "error_code" : "010204",
                  "error_msg" : "TYPE_LOGIN_REQUIRED",
                  "error_desc" : "Type login required"
                },
                "010205" : {
                  "error_code" : "010205",
                  "error_msg" : "INVALID_TYPE_LOGIN",
                  "error_desc" : "Invalid type login"
                },
                "010206" : {
                  "error_code" : "010206",
                  "error_msg" : "EMAIL_REQUIRED",
                  "error_desc" : "Email is required"
                }
              }
            }
          }
        }
      }
    },
    "/user/refresh" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Refresh a token",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "userRefresh Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RefreshUserBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "token" ],
              "properties" : {
                "token" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2ODMzOTQ4LCJleHBfc2Vzc2lvbiI6MTQ4MTgyMjc0OH0.OBrpLk8o9hBCUBq7eht8QzFKY8djVoPi57cSkW45fZY"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090201" : {
                  "error_code" : "090201",
                  "error_msg" : "TYPE_REFRESH_TOKEN_REQUIRED",
                  "error_desc" : "Type refresh token required"
                },
                "090202" : {
                  "error_code" : "090202",
                  "error_msg" : "INVALID_TYPE_REFRESH_TOKEN",
                  "error_desc" : "Invalid type refresh token"
                },
                "090203" : {
                  "error_code" : "090203",
                  "error_msg" : "PASSWOR_REQUIRED",
                  "error_desc" : "Password is required"
                },
                "090204" : {
                  "error_code" : "090204",
                  "error_msg" : "EMAIL_REQUIRED",
                  "error_desc" : "Email is required"
                },
                "090205" : {
                  "error_code" : "090205",
                  "error_msg" : "REFRESH_TOKEN_ERROR",
                  "error_desc" : "Refresh token error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/recover_password" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Recover password",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "RecvoverUser Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RecoverUserBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "mail_send" ],
              "properties" : {
                "consumer_id" : {
                  "description" : "return consumer id if exists a consumer with the email",
                  "type" : "string"
                },
                "mail_send" : {
                  "type" : "integer"
                }
              }
            },
            "examples" : {
              "mail_send" : 1
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010601" : {
                  "error_code" : "010601",
                  "error_msg" : "EMAIL_NOT_EXISTS",
                  "error_desc" : "email not exists"
                },
                "010604" : {
                  "error_code" : "010604",
                  "error_msg" : "EMAIL_USER_NOT_MATCH",
                  "error_desc" : "Email and user not match"
                },
                "010603" : {
                  "error_code" : "010603",
                  "error_msg" : "INVALID_EMAIL",
                  "error_desc" : "Invalid email"
                },
                "010602" : {
                  "error_code" : "010602",
                  "error_msg" : "MAIL_NOT_SEND",
                  "error_desc" : "Correo no enviado"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/payment_methods" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Return payment info",
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "payment_methods" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "token" : {
                        "type" : "string"
                      },
                      "imageUrl" : {
                        "type" : "string"
                      },
                      "cardType" : {
                        "type" : "string"
                      },
                      "card" : {
                        "type" : "string"
                      }
                    },
                    "required" : [ "token", "imageUrl", "cardType", "card" ]
                  }
                }
              }
            },
            "examples" : {
              "payment_methods" : {
                "token" : "eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2ODMzOTQ4LCJleHBfc2Vzc2lvbiI6MTQ4MTgyMjc0OH",
                "imageUrl" : "http://api.lavanapp.com/img/visa.png",
                "cardType" : "visa",
                "card" : "5555-5555-5555-5555"
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "user" ],
        "summary" : "Delete payment info",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "RecvoverUser Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentInfoTokenBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "payment_deleted" ],
              "properties" : {
                "payment_deleted" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010701" : {
                  "error_code" : "010701",
                  "error_msg" : "INVALID_TOKEN",
                  "error_desc" : "Token payment does not exists"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Updated user",
        "description" : "This can only be done by the logged in user. Login required if the token was created more than two days ago",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdatedUser"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "result" ],
              "properties" : {
                "result" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "result" : "ok"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010506" : {
                  "error_code" : "010506",
                  "error_msg" : "INCORRECT_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090101" : {
                  "error_code" : "090101",
                  "error_msg" : "LOGIN_SECURITY_REQUIRED",
                  "error_desc" : "Login security required"
                },
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/change_password" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Updated user password",
        "description" : "This can only be done by the logged in user. Login required if the token was created more than two days ago",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ChangePasswordUser"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "result" ],
              "properties" : {
                "result" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "result" : "ok"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010301" : {
                  "error_code" : "010301",
                  "error_msg" : "INCORRECT_FORMAT_PWD",
                  "error_desc" : "Incorrect format password"
                },
                "010303" : {
                  "error_code" : "010303",
                  "error_msg" : "OLD_PASSWORD_NOT_MATCH",
                  "error_desc" : "Old password does not match"
                },
                "010304" : {
                  "error_code" : "010304",
                  "error_msg" : "NEW_AND_OLD_PWD_MUST_BE_DIFFERENT",
                  "error_desc" : "The new and old password must be different"
                },
                "010305" : {
                  "error_code" : "010305",
                  "error_msg" : "NEW_PWD_AND_CONFIRMATION_NOT_MATCH",
                  "error_desc" : "New password and confirmation do not match"
                },
                "010306" : {
                  "error_code" : "010306",
                  "error_msg" : "OLD_PASSWORD_REQUIRED",
                  "error_desc" : "Old password is required"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090101" : {
                  "error_code" : "090101",
                  "error_msg" : "LOGIN_SECURITY_REQUIRED",
                  "error_desc" : "Login security required"
                },
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/code" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Send an email or an SMS with the activation code",
        "description" : "This can only be done with a token unauthorized.",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "email or sms",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "ota_send_status" ],
              "properties" : {
                "ota_send_status" : {
                  "type" : "boolean"
                }
              }
            },
            "examples" : {
              "ota_send_status" : true
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010701" : {
                  "error_code" : "010701",
                  "error_msg" : "INVALID_TOKEN",
                  "error_desc" : "Token payment does not exists"
                },
                "010111" : {
                  "error_code" : "010111",
                  "error_msg" : "ERR_INVALID_TYPE_SEND",
                  "error_desc" : "Tipo de envío inválido"
                },
                "010112" : {
                  "error_code" : "010112",
                  "error_msg" : "INVALID_USER_ID",
                  "error_desc" : "Invalid user id"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/verify" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Verify user. Check OTA",
        "description" : "This can only be done with a token unauthorized.",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VerifyUser"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "verification_status", "token" ],
              "properties" : {
                "verification_status" : {
                  "type" : "integer"
                },
                "token" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "verification_status" : 1,
              "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2OTcwNzU3LCJleHBfc2Vzc2lvbiI6MTQ4MTk1OTU1N30.4MNEr6K8-g3IAcxfXVfDXR3C4zmbAqoMtK9Jjb6XYz0"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010109" : {
                  "error_code" : "010109",
                  "error_msg" : "INVALID_OTA",
                  "error_desc" : "Código inválido"
                },
                "010112" : {
                  "error_code" : "010112",
                  "error_msg" : "INVALID_USER_ID",
                  "error_desc" : "Invalid user id"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/payment_token" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Return user payment token.",
        "description" : "This can only be done by the logged in user.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "payment_token" ],
              "properties" : {
                "payment_token" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "payment_token" : "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiJiMDUzMDVmMTM2NjI5N2NjZGFjN2Q3MmNkZWI1NjIyM2U1ZGQ2ZDIwMDdjNTY4MTAwYWFlMjdiNDk3MGM5ZmI1fGNyZWF0ZWRfYXQ9MjAxNi0xMi0xNVQwNzozMzoyMS42MTc3MDI4NTQrMDAwMFx1MDAyNm1lcmNoYW50X2lkPTVwZjRqeThtcmhrN3l0MmhcdTAwMjZwdWJsaWNfa2V5PXNnY2YzNHo0cHo0M3kyYzkiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvNXBmNGp5OG1yaGs3eXQyaC9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbImN2diJdLCJlbnZpcm9ubWVudCI6InNhbmRib3giLCJjbGllbnRBcGlVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvNXBmNGp5OG1yaGs3eXQyaC9jbGllbnRfYXBpIiwiYXNzZXRzVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhdXRoVXJsIjoiaHR0cHM6Ly9hdXRoLnZlbm1vLnNhbmRib3guYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhbmFseXRpY3MiOnsidXJsIjoiaHR0cHM6Ly9jbGllbnQtYW5hbHl0aWNzLnNhbmRib3guYnJhaW50cmVlZ2F0ZXdheS5jb20vNXBmNGp5OG1yaGs3eXQyaCJ9LCJ0aHJlZURTZWN1cmVFbmFibGVkIjp0cnVlLCJwYXlwYWxFbmFibGVkIjp0cnVlLCJwYXlwYWwiOnsiZGlzcGxheU5hbWUiOiJMYXZhbmFwcCIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwiYmlsbGluZ0FncmVlbWVudHNFbmFibGVkIjp0cnVlLCJtZXJjaGFudEFjY291bnRJZCI6ImxhdmFuYXBwIiwiY3VycmVuY3lJc29Db2RlIjoiRVVSIn0sImNvaW5iYXNlRW5hYmxlZCI6ZmFsc2UsIm1lcmNoYW50SWQiOiI1cGY0ank4bXJoazd5dDJoIiwidmVubW8iOiJvZmYifQ=="
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/product" : {
      "get" : {
        "tags" : [ "product" ],
        "summary" : "Return categories with list of products",
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "categories" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CategoriesProductGet"
                  },
                  "minItems" : 0,
                  "description" : "products and categories"
                }
              }
            },
            "examples" : {
              "categories" : {
                "id" : "12",
                "name" : "Ofertas",
                "image" : "http://api.lavanapp.com/app/webroot/Uploads/Category/VW5TL0.png",
                "products" : {
                  "id" : "420",
                  "name" : "5 camisas",
                  "image" : "http://api.lavanapp.com/app/webroot/Uploads/Products/LL3KK0.jpg",
                  "price" : "15.95",
                  "currency" : "€"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/product/{id}" : {
      "get" : {
        "tags" : [ "product" ],
        "summary" : "Return the detail of a product",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "product id",
          "required" : true,
          "type" : "integer"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "product" ],
              "properties" : {
                "product" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ProductDetailGet"
                  },
                  "minItems" : 0,
                  "description" : "product detail"
                }
              }
            },
            "examples" : {
              "product" : {
                "id" : "420",
                "category_id" : "12",
                "name" : "5 camisas",
                "price" : "15.95",
                "description" : "5 camisas lavadas y planchadas.",
                "description_large" : "Oferta de 5 camisas. Lavaremos tus camisas, las plancharemos y te las entregaremos en tu domicilio en 24 horas",
                "image" : "http://api.lavanapp.com/app/webroot/Uploads/Products/LL3KK0.jpg",
                "preparation_time" : "24",
                "feature" : {
                  "id" : "1",
                  "name" : "Temperatura de lavado",
                  "values" : {
                    "id" : "1",
                    "value" : "10ºC"
                  }
                },
                "attribute_group" : {
                  "id" : "1",
                  "name" : "Tejidos",
                  "group_type_id" : "3",
                  "group_type" : "Select",
                  "inc_price" : "",
                  "attributes" : {
                    "id" : "1",
                    "value" : "Seda",
                    "inc_price" : "6.00"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "030101" : {
                  "error_code" : "030101",
                  "error_msg" : "PRODUCT_NOT_EXISTS",
                  "error_desc" : "Product not exists"
                },
                "030102" : {
                  "error_code" : "030102",
                  "error_msg" : "ERROR_VALIDATION_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/order" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Return list of user orders",
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "order_history_list" ],
              "properties" : {
                "order_history_list" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/OrdersGet"
                  },
                  "minItems" : 0,
                  "description" : "list of all consumer orders"
                }
              },
              "example" : {
                "order_history_list" : {
                  "id" : "194899A04AFA",
                  "code" : "194899A04AFA",
                  "total_price" : "15.95",
                  "currency" : "€",
                  "product_count" : "1",
                  "created_on" : "2016-12-23 10:10:06",
                  "pickup_date" : "2016-12-15",
                  "pickup_time" : "18:00-19:00",
                  "delivery_date" : "2016-12-16",
                  "delivery_time" : "13:00-13:30",
                  "status_id" : "1",
                  "status" : "Confirmado"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Create an order",
        "description" : "Login required if the token was created more than two days ago",
        "parameters" : [ {
          "name" : "Platform",
          "in" : "header",
          "description" : "android or ios",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "Order Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OrderBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "id", "code" ],
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "code" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "id" : "2971",
              "code" : "198F27621B7A"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "040406" : {
                  "error_code" : "040406",
                  "error_msg" : "NOT_MATCH_CALCULATED_AND_RECEIVED_PRICE",
                  "error_desc" : "Does not match the price calculated with the price received"
                },
                "040404" : {
                  "error_code" : "040404",
                  "error_msg" : "ORDER_COULD_NOT_BE_PLACED",
                  "error_desc" : "Su pedido no pudo ser realizado, por favor intentalo de nuevo"
                },
                "040417" : {
                  "error_code" : "040417",
                  "error_msg" : "ERROR_VALIDATION_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090101" : {
                  "error_code" : "090101",
                  "error_msg" : "LOGIN_SECURITY_REQUIRED",
                  "error_desc" : "Login security required"
                },
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/order/{code}" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Return the detail of an order",
        "parameters" : [ {
          "name" : "code",
          "in" : "path",
          "description" : "order code",
          "required" : true,
          "type" : "integer"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "order" ],
              "properties" : {
                "order" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/OrderDetailGet"
                  },
                  "minItems" : 0,
                  "description" : "get an order detail"
                }
              }
            },
            "examples" : {
              "order" : {
                "code" : "194899A04AFA",
                "total_price" : "5.95",
                "currency" : "€",
                "product_count" : "1",
                "created_on" : "2016-12-23 10:10:06",
                "pickup_date" : "2016-12-15",
                "pickup_time" : "18:00-19:00",
                "delivery_date" : "2016-12-16",
                "delivery_time" : "13:00-13:30",
                "status_id" : "1",
                "status" : "Confirmado",
                "special_instructions" : "",
                "coupon" : {
                  "id" : "55",
                  "name" : "ANDROIDA",
                  "discount_type_id" : "2",
                  "discount" : "10"
                },
                "pickup_address" : {
                  "id" : "157",
                  "name" : "Mi casa",
                  "street" : "Carretera de Canillas",
                  "street_number" : "138",
                  "complement" : "primera planta",
                  "special_instructions" : "dejar al portero",
                  "postal_code" : "28043",
                  "city" : "Madrid",
                  "state" : "Madrid"
                },
                "delivery_address" : {
                  "id" : "157",
                  "name" : "Mi casa",
                  "street" : "Carretera de Canillas",
                  "street_number" : "138",
                  "complement" : "primera planta",
                  "special_instructions" : "dejar al portero",
                  "postal_code" : "28043",
                  "city" : "Madrid",
                  "state" : "Madrid"
                },
                "products" : {
                  "id" : "420",
                  "num_products" : "1",
                  "category_id" : "12",
                  "category" : "Ofertas",
                  "product" : "5 camisas",
                  "image" : "http://api.lavanapp.com/Uploads/Products/LL3KK0.jpg",
                  "preparation_time" : "24",
                  "price" : "15.95",
                  "attributes" : {
                    "attribute_group" : "Tejidos",
                    "attribute" : "Seda"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "040302" : {
                  "error_code" : "040302",
                  "error_msg" : "ORDER_NOT_BELONG_USER",
                  "error_desc" : "The order does not belong to the user"
                },
                "040417" : {
                  "error_code" : "040417",
                  "error_msg" : "ERROR_VALIDATION_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/voucher" : {
      "get" : {
        "tags" : [ "voucher" ],
        "summary" : "Return information about voucher",
        "parameters" : [ {
          "name" : "coupon_code",
          "in" : "query",
          "description" : "coupon code text",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "id", "name", "discount_type", "discount" ],
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "discount_type" : {
                  "description" : "1 if discount is fixed an 2 if discount is percentage",
                  "type" : "string"
                },
                "discount" : {
                  "type" : "string"
                }
              }
            },
            "examples" : {
              "id" : "55",
              "name" : "ANDROIDA",
              "discount_type" : "2",
              "discount" : "5"
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "050101" : {
                  "error_code" : "050101",
                  "error_msg" : "COUPON_INVALID",
                  "error_desc" : "Coupon invalid"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/schedule/delivery" : {
      "post" : {
        "tags" : [ "schedule" ],
        "summary" : "Return information about available delivery schedule ",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "Delivery data Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeliveryBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "schedule" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedules"
                  },
                  "minItems" : 0,
                  "description" : "list of available date and time"
                }
              }
            },
            "examples" : {
              "schedule" : {
                "date" : "2016-12-16",
                "text_day" : "Mañana",
                "closed" : false,
                "slots" : {
                  "id" : "161",
                  "slot" : "17:00 - 18:00",
                  "closed" : false
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "060501" : {
                  "error_code" : "060501",
                  "error_msg" : "INCORRECT_PARAMS",
                  "error_desc" : "Incorrect params"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/schedule/pickup" : {
      "get" : {
        "tags" : [ "schedule" ],
        "summary" : "Return information about available pickup schedule ",
        "parameters" : [ {
          "name" : "postal_code",
          "in" : "query",
          "description" : "postal code from pickup",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "schedule" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedules"
                  },
                  "minItems" : 0,
                  "description" : "list of available date and time"
                }
              }
            },
            "examples" : {
              "schedule" : {
                "date" : "2016-12-15",
                "text_day" : "Hoy",
                "closed" : false,
                "slots" : {
                  "id" : "161",
                  "slot" : "17:00 - 18:00",
                  "closed" : false
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
[...]
