{
  "swagger" : "2.0",
  "info" : {
    "description" : "Documentación del api v2.1.1 de lavanapp",
    "version" : "2.1.1",
    "title" : "API LAVANAPP",
    "contact" : {
      "email" : "hola@lavanapp.com"
    }
  },
  "host" : "api.lavanapp.com",
  "basePath" : "/api/v211",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/configuration" : {
      "get" : {
        "tags" : [ "configuration" ],
        "summary" : "Return the configuration detail of server",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token/access_token o ningún token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "platform",
          "in" : "query",
          "description" : "Plataforma desde la que se hace la solicitud",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Versión de la plataforma",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "force_update", "min_order_amount", "currency", "token", "payment_methods", "custom_experience_incidence_type" ],
              "properties" : {
                "force_update" : {
                  "type" : "boolean"
                },
                "min_order_amount" : {
                  "type" : "string"
                },
                "currency" : {
                  "type" : "string"
                },
                "token" : {
                  "type" : "string"
                },
                "payment_methods" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "required" : [ "id", "name", "path_url", "img_name" ],
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "path_url" : {
                        "type" : "string"
                      },
                      "img_name" : {
                        "type" : "string"
                      }
                    }
                  }
                },
                "custom_experience_incidence_type" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "required" : [ "id", "type", "imageUrl", "selectedImageUrl" ],
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "type" : {
                        "type" : "string"
                      },
                      "imageUrl" : {
                        "type" : "string"
                      },
                      "selectedImageUrl" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              },
              "example" : {
                "force_update" : true,
                "min_order_amount" : "15",
                "currency" : "€",
                "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwYzUxMTQyYjVjNDhlZWZiODM1OWRmMmU4ZDM2YmQzNTczMmI3MGIwIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoxNDc4MTc2NDMwLCJ0eXBlIjoidW5hdXRoIiwiZXhwIjoxOTk2NTcyODMwLCJleHBfc2Vzc2lvbiI6MTQ5NTQ1MjgzMH0.2oW9bdtULTIGZFWJ86qG-OxVlRiN-zAQ8UsI8m2Imhg",
                "payment_methods" : {
                  "id" : 1,
                  "name" : "Sipay",
                  "path_url" : "https://testing.lavanapp.com/img/android/",
                  "img_name" : "credit-card.png"
                },
                "custom_experience_incidence_type" : {
                  "id" : 1,
                  "name" : "Limpieza",
                  "imageUrl" : "https://testing.lavanapp.com/img/incidences-incons/icono-limpeza.svg",
                  "selectedImageUrl" : "https://testing.lavanapp.com/img/incidences-incons/icono-limpeza-azul.svg"
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080101" : {
                  "error_code" : "080101",
                  "error_msg" : "PLATFORM_NOT_FOUND",
                  "error_desc" : "Platform not found"
                },
                "080103" : {
                  "error_code" : "080103",
                  "error_msg" : "INCORRECT_VERSION",
                  "error_desc" : "Incorrect version"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/configuration/faq" : {
      "get" : {
        "tags" : [ "configuration" ],
        "summary" : "Return the faq",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token/access_token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "faqs" ],
              "properties" : {
                "faqs" : {
                  "type" : "object",
                  "properties" : {
                    "header" : {
                      "type" : "string"
                    },
                    "faq" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "required" : [ "title", "content" ],
                        "properties" : {
                          "title" : {
                            "type" : "string"
                          },
                          "content" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example" : {
                "faqs" : {
                  "header" : "Lavanapp",
                  "faq" : {
                    "title" : "¿Qué es Lavanapp?",
                    "content" : "<p>Lavanapp es la tintorería app. <p/>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080101" : {
                  "error_code" : "080101",
                  "error_msg" : "PLATFORM_NOT_FOUND",
                  "error_desc" : "Platform not found"
                },
                "080103" : {
                  "error_code" : "080103",
                  "error_msg" : "INCORRECT_VERSION",
                  "error_desc" : "Incorrect version"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/configuration/tyc" : {
      "get" : {
        "tags" : [ "configuration" ],
        "summary" : "Return the terms and conditions",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token/access_token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "tyc" ],
              "properties" : {
                "tyc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "tyc" : "1. INTRODUCCIÓN <br><br> La contratación de los servicios a través del sitio web..."
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080101" : {
                  "error_code" : "080101",
                  "error_msg" : "PLATFORM_NOT_FOUND",
                  "error_desc" : "Platform not found"
                },
                "080103" : {
                  "error_code" : "080103",
                  "error_msg" : "INCORRECT_VERSION",
                  "error_desc" : "Incorrect version"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/configuration/pdp" : {
      "get" : {
        "tags" : [ "configuration" ],
        "summary" : "Return the privacy policy",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token/access_token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "pdp" ],
              "properties" : {
                "pdp" : {
                  "type" : "string"
                }
              },
              "example" : {
                "pdp" : "La presente Política de Privacidad regula el tratamiento que PARAÍSO ALDEA, S.L. (en adelante, 'LAVANAPP', 'el Administrador de la Web' o 'nosotros')..."
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080101" : {
                  "error_code" : "080101",
                  "error_msg" : "PLATFORM_NOT_FOUND",
                  "error_desc" : "Platform not found"
                },
                "080103" : {
                  "error_code" : "080103",
                  "error_msg" : "INCORRECT_VERSION",
                  "error_desc" : "Incorrect version"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/order/experience" : {
      "post" : {
        "tags" : [ "consumer experience" ],
        "summary" : "Insert consumer experience",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "Consumer experience",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/customExperienceBody"
          }
        } ],
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "order_id" ],
              "properties" : {
                "order_id" : {
                  "type" : "integer"
                }
              },
              "example" : {
                "order_id" : 3141
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080101" : {
                  "error_code" : "080101",
                  "error_msg" : "PLATFORM_NOT_FOUND",
                  "error_desc" : "Platform not found"
                },
                "080103" : {
                  "error_code" : "080103",
                  "error_msg" : "INCORRECT_VERSION",
                  "error_desc" : "Incorrect version"
                },
                "010802" : {
                  "error_code" : "010802",
                  "error_msg" : "ERROR_SAVING_EXPERIENCE",
                  "error_desc" : "No se ha podido guardar la encuesta."
                },
                "010803" : {
                  "error_code" : "010803",
                  "error_msg" : "INCORRECT_SCORE",
                  "error_desc" : "La puntuación debe ser un número comprendido entre le 1 y el 5."
                },
                "010804" : {
                  "error_code" : "010804",
                  "error_msg" : "INCORRECT_EXPERIENCE_INCIDENCE_FORMAT",
                  "error_desc" : "Se debe especificar un tipo de incidencia."
                },
                "010805" : {
                  "error_code" : "010805",
                  "error_msg" : "INCORRECT_EXPERIENCE_INCIDENCE_TYPE",
                  "error_desc" : "El tipo de incidencia especificado no es válido."
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Create user",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "ota", "id" ],
              "properties" : {
                "ota" : {
                  "type" : "integer"
                },
                "id" : {
                  "type" : "string"
                }
              },
              "example" : {
                "ota" : 12345,
                "id" : "2217"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010110" : {
                  "error_code" : "010110",
                  "error_msg" : "INVALID_REGISTRATION_TYPE",
                  "error_desc" : "Tipo de registro inválido"
                },
                "010113" : {
                  "error_code" : "010113",
                  "error_msg" : "INCORRECT_DATA",
                  "error_desc" : "Incorrect data"
                },
                "010107" : {
                  "error_code" : "010107",
                  "error_msg" : "OTP_COULD_NOT_BE_SEND",
                  "error_desc" : "OTP no se pudo enviar"
                },
                "010102" : {
                  "error_code" : "010102",
                  "error_msg" : "TEL_EXISTS",
                  "error_desc" : "Telephone exists"
                },
                "010106" : {
                  "error_code" : "010106",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "Ha habido un error con el registro. Por favor, contacta con nosotros en el 606 198 163."
                },
                "010101" : {
                  "error_code" : "010101",
                  "error_msg" : "EMAIL_EXISTS",
                  "error_desc" : "Email exists"
                },
                "010114" : {
                  "error_code" : "010114",
                  "error_msg" : "INVALID_FACEBOOK_TOKEN",
                  "error_desc" : "Ha ocurrido un error de autenticación con tu cuenta de facebook."
                },
                "010115" : {
                  "error_code" : "010115",
                  "error_msg" : "FAILED_CONNECT_FACEBOOK",
                  "error_desc" : "No se ha podido conectar con facebook."
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                },
                "010116" : {
                  "error_code" : "010116",
                  "error_msg" : "EMAIL_REQUIRED",
                  "error_desc" : "Por favor, introduce el email"
                }
              }
            }
          }
        }
      }
    },
    "/user/login" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Login user",
        "parameters" : [ {
          "name" : "Basic",
          "in" : "header",
          "description" : "encode base_64 (email:password(MD5)). Required by login with email",
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "LoginUser Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LoginUserBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "id", "name", "email", "phone_no", "want_news", "orders", "token" ],
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "email" : {
                  "type" : "string"
                },
                "phone_no" : {
                  "type" : "string"
                },
                "want_news" : {
                  "type" : "string"
                },
                "orders" : {
                  "type" : "integer"
                },
                "token" : {
                  "type" : "string"
                }
              },
              "example" : {
                "id" : "2217",
                "name" : "Juan",
                "email" : "testing_android@lavanapp.com",
                "phone_no" : "536363636",
                "want_news" : "true",
                "orders" : 16,
                "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2ODMzOTQ4LCJleHBfc2Vzc2lvbiI6MTQ4MTgyMjc0OH0.OBrpLk8o9hBCUBq7eht8QzFKY8djVoPi57cSkW45fZY"
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                },
                "010201" : {
                  "error_code" : "010201",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                },
                "010203" : {
                  "error_code" : "010203",
                  "error_msg" : "CONSUMER_HAS_BEEN_BLOCKED",
                  "error_desc" : "Consumer has been blocked"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                },
                "010204" : {
                  "error_code" : "010204",
                  "error_msg" : "TYPE_LOGIN_REQUIRED",
                  "error_desc" : "Type login required"
                },
                "010205" : {
                  "error_code" : "010205",
                  "error_msg" : "INVALID_TYPE_LOGIN",
                  "error_desc" : "Invalid type login"
                },
                "010206" : {
                  "error_code" : "010206",
                  "error_msg" : "EMAIL_REQUIRED",
                  "error_desc" : "Por favor, introduce el email"
                },
                "010207" : {
                  "error_code" : "010207",
                  "error_msg" : "INVALID_FACEBOOK_TOKEN",
                  "error_desc" : "Ha ocurrido un error de autenticación con tu cuenta de facebook."
                },
                "010208" : {
                  "error_code" : "010208",
                  "error_msg" : "FAILED_CONNECT_FACEBOOK",
                  "error_desc" : "No se ha podido conectar con facebook."
                }
              }
            }
          }
        }
      }
    },
    "/user/refresh" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Refresh a token",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "userRefresh Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RefreshUserBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "token" ],
              "properties" : {
                "token" : {
                  "type" : "string"
                }
              },
              "example" : {
                "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2ODMzOTQ4LCJleHBfc2Vzc2lvbiI6MTQ4MTgyMjc0OH0.OBrpLk8o9hBCUBq7eht8QzFKY8djVoPi57cSkW45fZY"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090201" : {
                  "error_code" : "090201",
                  "error_msg" : "TYPE_REFRESH_TOKEN_REQUIRED",
                  "error_desc" : "Type refresh token required"
                },
                "090202" : {
                  "error_code" : "090202",
                  "error_msg" : "INVALID_TYPE_REFRESH_TOKEN",
                  "error_desc" : "Invalid type refresh token"
                },
                "090203" : {
                  "error_code" : "090203",
                  "error_msg" : "PASSWOR_REQUIRED",
                  "error_desc" : "Password is required"
                },
                "090204" : {
                  "error_code" : "090204",
                  "error_msg" : "EMAIL_REQUIRED",
                  "error_desc" : "Email is required"
                },
                "090205" : {
                  "error_code" : "090205",
                  "error_msg" : "REFRESH_TOKEN_ERROR",
                  "error_desc" : "Refresh token error"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/recover_password" : {
      "post" : {
        "tags" : [ "user" ],
        "summary" : "Recover password",
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : "RecvoverUser Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RecoverUserBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "mail_send" ],
              "properties" : {
                "consumer_id" : {
                  "description" : "return consumer id if exists a consumer with the email",
                  "type" : "string"
                },
                "mail_send" : {
                  "type" : "integer"
                }
              },
              "example" : {
                "mail_send" : 1
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010601" : {
                  "error_code" : "010601",
                  "error_msg" : "EMAIL_NOT_EXISTS",
                  "error_desc" : "email not exists"
                },
                "010604" : {
                  "error_code" : "010604",
                  "error_msg" : "EMAIL_USER_NOT_MATCH",
                  "error_desc" : "Email and user not match"
                },
                "010603" : {
                  "error_code" : "010603",
                  "error_msg" : "INVALID_EMAIL",
                  "error_desc" : "El formato del email introducido es incorrecto."
                },
                "010602" : {
                  "error_code" : "010602",
                  "error_msg" : "MAIL_NOT_SEND",
                  "error_desc" : "No se ha podido enviar el email para recuperar contraseña. Por favor, vuelve a intentarlo. Si el error persiste contacta con nosotros en el 606 198 163."
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Updated user",
        "description" : "This can only be done by the logged in user. Login required if the token was created more than two days ago",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdatedUser"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "result" ],
              "properties" : {
                "result" : {
                  "type" : "string"
                }
              },
              "example" : {
                "result" : "ok"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "(nuevo)010505" : {
                  "error_code" : "010505",
                  "error_msg" : "INCORRECT_FORMAT_CONSUMER_NAME",
                  "error_desc" : "El nombre es incorrecto. Debe contener caracteres alfabéticos de longitud menor que 100."
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090101" : {
                  "error_code" : "090101",
                  "error_msg" : "LOGIN_SECURITY_REQUIRED",
                  "error_desc" : "Login security required"
                },
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/change_password" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Updated user password",
        "description" : "This can only be done by the logged in user. Login required if the token was created more than two days ago",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ChangePasswordUser"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "result" ],
              "properties" : {
                "result" : {
                  "type" : "string"
                }
              },
              "example" : {
                "result" : "ok"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010301" : {
                  "error_code" : "010301",
                  "error_msg" : "INCORRECT_FORMAT_PWD",
                  "error_desc" : "Incorrect format password"
                },
                "010303" : {
                  "error_code" : "010303",
                  "error_msg" : "OLD_PASSWORD_NOT_MATCH",
                  "error_desc" : "Old password does not match"
                },
                "010304" : {
                  "error_code" : "010304",
                  "error_msg" : "NEW_AND_OLD_PWD_MUST_BE_DIFFERENT",
                  "error_desc" : "The new and old password must be different"
                },
                "010305" : {
                  "error_code" : "010305",
                  "error_msg" : "NEW_PWD_AND_CONFIRMATION_NOT_MATCH",
                  "error_desc" : "New password and confirmation do not match"
                },
                "010306" : {
                  "error_code" : "010306",
                  "error_msg" : "OLD_PASSWORD_REQUIRED",
                  "error_desc" : "Por favor, introduce tu contraseña"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090101" : {
                  "error_code" : "090101",
                  "error_msg" : "LOGIN_SECURITY_REQUIRED",
                  "error_desc" : "Login security required"
                },
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/code" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Send an email or an SMS with the activation code",
        "description" : "This can only be done with a token unauthorized.",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "email or sms",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "ota_send_status" ],
              "properties" : {
                "ota_send_status" : {
                  "type" : "boolean"
                }
              },
              "example" : {
                "ota_send_status" : true
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010701" : {
                  "error_code" : "010701",
                  "error_msg" : "INVALID_TOKEN",
                  "error_desc" : "Token payment does not exists"
                },
                "010111" : {
                  "error_code" : "010111",
                  "error_msg" : "ERR_INVALID_TYPE_SEND",
                  "error_desc" : "Tipo de envío inválido"
                },
                "010112" : {
                  "error_code" : "010112",
                  "error_msg" : "INVALID_USER_ID",
                  "error_desc" : "Invalid user id"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/verify" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Verify user. Check OTA",
        "description" : "This can only be done with a token unauthorized.",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "User Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VerifyUser"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "verification_status", "token" ],
              "properties" : {
                "verification_status" : {
                  "type" : "integer"
                },
                "token" : {
                  "type" : "string"
                }
              },
              "example" : {
                "verification_status" : 1,
                "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2OTcwNzU3LCJleHBfc2Vzc2lvbiI6MTQ4MTk1OTU1N30.4MNEr6K8-g3IAcxfXVfDXR3C4zmbAqoMtK9Jjb6XYz0"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010109" : {
                  "error_code" : "010109",
                  "error_msg" : "INVALID_OTA",
                  "error_desc" : "El código de verificación introducido no es correcto"
                },
                "010112" : {
                  "error_code" : "010112",
                  "error_msg" : "INVALID_USER_ID",
                  "error_desc" : "Invalid user id"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/fcm_token" : {
      "put" : {
        "tags" : [ "user" ],
        "summary" : "Update FCM Token",
        "description" : "This can only be done with a token authorized.",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "description" : "unauth_token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "user id",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "FCM Token",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FcmToken"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "fcm_token" ],
              "properties" : {
                "fcm_token" : {
                  "type" : "string"
                }
              },
              "example" : {
                "fcm_token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aW5nX2FuZHJvaWRAbGF2YW5hcHAuY29tIiwiYWRtaW4iOmZhbHNlLCJjcmVhdGVkX29uIjoiMjAxNi0xMS0wMyAxMjo1NzoyNyIsInR5cGUiOiJhdXRoIiwiZXhwIjoxNDg2OTcwNzU3LCJleHBfc2Vzc2lvbiI6MTQ4MTk1OTU1N30.4MNEr6K8-g3IAcxfXVfDXR3C4zmbAqoMtK9Jjb6XYz0"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "010109" : {
                  "error_code" : "010507",
                  "error_msg" : "FCM_TOKEN_NOT_NULL",
                  "error_desc" : "El campo fcm_token no puede ser nulo"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/product" : {
      "get" : {
        "tags" : [ "product" ],
        "summary" : "Return categories with list of products",
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "categories" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CategoriesProductGet"
                  },
                  "minItems" : 0,
                  "description" : "products and categories"
                }
              },
              "example" : {
                "categories" : {
                  "id" : "12",
                  "name" : "Ofertas",
                  "image" : "http://api.lavanapp.com/app/webroot/Uploads/Category/VW5TL0.png",
                  "products" : {
                    "id" : "420",
                    "name" : "5 camisas",
                    "image" : "http://api.lavanapp.com/app/webroot/Uploads/Products/LL3KK0.jpg",
                    "price" : "15.95",
                    "currency" : "€"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/product/{id}" : {
      "get" : {
        "tags" : [ "product" ],
        "summary" : "Return the detail of a product",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "product id",
          "required" : true,
          "type" : "integer"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "product" ],
              "properties" : {
                "product" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ProductDetailGet"
                  },
                  "minItems" : 0,
                  "description" : "product detail"
                }
              },
              "example" : {
                "product" : {
                  "id" : "420",
                  "category_id" : "12",
                  "name" : "5 camisas",
                  "price" : "15.95",
                  "description" : "5 camisas lavadas y planchadas.",
                  "description_large" : "Oferta de 5 camisas. Lavaremos tus camisas, las plancharemos y te las entregaremos en tu domicilio en 24 horas",
                  "image" : "http://api.lavanapp.com/app/webroot/Uploads/Products/LL3KK0.jpg",
                  "preparation_time" : "24",
                  "feature" : {
                    "id" : "1",
                    "name" : "Temperatura de lavado",
                    "values" : {
                      "id" : "1",
                      "value" : "10ºC"
                    }
                  },
                  "attribute_group" : {
                    "id" : "1",
                    "name" : "Tejidos",
                    "group_type_id" : "3",
                    "group_type" : "Select",
                    "inc_price" : "",
                    "attributes" : {
                      "id" : "1",
                      "value" : "Seda",
                      "inc_price" : "6.00"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "030101" : {
                  "error_code" : "030101",
                  "error_msg" : "PRODUCT_NOT_EXISTS",
                  "error_desc" : "Product not exists"
                },
                "030102" : {
                  "error_code" : "030102",
                  "error_msg" : "ERROR_VALIDATION_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/order" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Return list of user orders",
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "order_history_list" ],
              "properties" : {
                "order_history_list" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/OrdersGet"
                  },
                  "minItems" : 0,
                  "description" : "list of all consumer orders"
                }
              },
              "example" : {
                "order_history_list" : {
                  "id" : "2971",
                  "code" : "198F27621B7A",
                  "total_price" : "15.95",
                  "currency" : "€",
                  "product_count" : "1",
                  "created_on" : "2016-12-23 10:10:06",
                  "pickup_date" : "2016-12-15",
                  "pickup_time" : "18:00-19:00",
                  "delivery_date" : "2016-12-16",
                  "delivery_time" : "13:00-13:30",
                  "status_id" : "1",
                  "status" : "Confirmado"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "order" ],
        "summary" : "Create an order",
        "description" : "Login required if the token was created more than two days ago",
        "parameters" : [ {
          "name" : "Platform",
          "in" : "header",
          "description" : "android or ios",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "description" : "Order Object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OrderBody"
          }
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "code" ],
              "properties" : {
                "code" : {
                  "type" : "string"
                }
              },
              "example" : {
                "code" : "194899A04AFA"
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "040406" : {
                  "error_code" : "040406",
                  "error_msg" : "NOT_MATCH_CALCULATED_AND_RECEIVED_PRICE",
                  "error_desc" : "Does not match the price calculated with the price received"
                },
                "040404" : {
                  "error_code" : "040404",
                  "error_msg" : "ORDER_COULD_NOT_BE_PLACED",
                  "error_desc" : "Su pedido no pudo ser realizado, por favor intentalo de nuevo"
                },
                "040417" : {
                  "error_code" : "040417",
                  "error_msg" : "ERROR_VALIDATION_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090101" : {
                  "error_code" : "090101",
                  "error_msg" : "LOGIN_SECURITY_REQUIRED",
                  "error_desc" : "Login security required"
                },
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
                  "error_desc" : "User locked"
                },
                "090105" : {
                  "error_code" : "090105",
                  "error_msg" : "UNREGISTERED_USER",
                  "error_desc" : "Unregistered user"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090102" : {
                  "error_code" : "090102",
                  "error_msg" : "WRONG_NUMBER_AUTHORIZATION_HEADERS",
                  "error_desc" : "Wrong number of Authorization Headers"
                },
                "090103" : {
                  "error_code" : "090103",
                  "error_msg" : "AUTHORIZATION_HEADERS_NO_DETECTED",
                  "error_desc" : "Authorization Headers are not detected"
                },
                "090107" : {
                  "error_code" : "090107",
                  "error_msg" : "INCORRECT_FORMAT_TOKEN",
                  "error_desc" : "Incorrect format token"
                },
                "090109" : {
                  "error_code" : "090109",
                  "error_msg" : "INTERNAL_ERROR_JWT",
                  "error_desc" : ""
                }
              }
            }
          }
        }
      }
    },
    "/order/{id}" : {
      "get" : {
        "tags" : [ "order" ],
        "summary" : "Return the detail of an order",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "order id",
          "required" : true,
          "type" : "integer"
        } ],
        "security" : [ {
          "Authorization" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "order" ],
              "properties" : {
                "order" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/OrderDetailGet"
                  },
                  "minItems" : 0,
                  "description" : "get an order detail"
                }
              },
              "example" : {
                "order" : {
                  "code" : "198F27621B7A",
                  "total_price" : "5.95",
                  "currency" : "€",
                  "product_count" : "1",
                  "created_on" : "2016-12-23 10:10:06",
                  "pickup_date" : "2016-12-15",
                  "pickup_time" : "18:00-19:00",
                  "delivery_date" : "2016-12-16",
                  "delivery_time" : "13:00-13:30",
                  "status_id" : "1",
                  "statuses" : {
                    "1" : {
                      "id" : "1",
                      "name" : "Confirmado",
                      "path_url" : "https://192.168.1.80/img/android/",
                      "img_name" : "cesta.png"
                    },
                    "2" : {
                      "id" : "2",
                      "name" : "Recogiendo",
                      "path_url" : "https://192.168.1.80/img/ios/",
                      "img_name" : "furgo.png"
                    }
                  },
                  "status" : "Confirmado",
                  "special_instructions" : "",
                  "coupon" : {
                    "id" : "55",
                    "name" : "ANDROIDA",
                    "discount_type_id" : "2",
                    "discount" : "10"
                  },
                  "pickup_address" : {
                    "id" : "157",
                    "name" : "Mi casa",
                    "street" : "Carretera de Canillas",
                    "street_number" : "138",
                    "complement" : "primera planta",
                    "special_instructions" : "dejar al portero",
                    "postal_code" : "28043",
                    "township" : "Madrid",
                    "city" : "Madrid",
                    "province" : "Madrid",
                    "state" : "Madrid"
                  },
                  "delivery_address" : {
                    "id" : "157",
                    "name" : "Mi casa",
                    "street" : "Carretera de Canillas",
                    "street_number" : "138",
                    "complement" : "primera planta",
                    "special_instructions" : "dejar al portero",
                    "postal_code" : "28043",
                    "township" : "Madrid",
                    "city" : "Madrid",
                    "province" : "Madrid",
                    "state" : "Madrid"
                  },
                  "products" : {
                    "id" : "420",
                    "num_products" : "1",
                    "category_id" : "12",
                    "category" : "Ofertas",
                    "product" : "5 camisas",
                    "image" : "http://api.lavanapp.com/Uploads/Products/LL3KK0.jpg",
                    "preparation_time" : "24",
                    "price" : "15.95",
                    "multiplier_value" : "",
                    "multiplier_name" : "",
                    "attribute_group" : {
                      "id" : "3",
                      "name" : "Tejidos",
                      "group_type" : "3",
                      "inc_price" : "",
                      "attributes" : {
                        "id" : "5",
                        "value" : "Lana",
                        "inc_price" : "3.00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "040302" : {
                  "error_code" : "040302",
                  "error_msg" : "ORDER_NOT_BELONG_USER",
                  "error_desc" : "The order does not belong to the user"
                },
                "040417" : {
                  "error_code" : "040417",
                  "error_msg" : "ERROR_VALIDATION_PARAMS",
                  "error_desc" : ""
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "type" : "object",
              "properties" : {
                "error_code" : {
                  "type" : "string"
                },
                "error_msg" : {
                  "type" : "string"
                },
                "error_desc" : {
                  "type" : "string"
                }
              },
              "example" : {
                "090108" : {
                  "error_code" : "090108",
                  "error_msg" : "TOKEN_UNAUTHORIZED",
                  "error_desc" : "Token unauthorized"
                },
                "080102" : {
                  "error_code" : "080102",
                  "error_msg" : "INCORRECT_APIKEY",
                  "error_desc" : "Incorrect Api Key"
                },
                "090104" : {
                  "error_code" : "090104",
                  "error_msg" : "USER_LOCKED",
[...]
